# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bags and videos
*.bag
*.mp4
*.avi
*.mp3

# Ros
bin/
build/
devel/
build_isolated/
devel_isolated
