<launch>
  <node pkg="lsd_slam_viewer" type="viewer" name="viewer" cwd="node" output="screen"/>

 	<node pkg="lsd_slam_core" type="live_slam" name="live_slam" cwd="node" output="screen">
    <remap from="image" to="/camera/image_raw"/>
    <param name="calib" value="$(find resources)/calibration/lsdslam_pioneer.cfg"/>
  </node>

  <include file="$(find resources)/launch/bags/bag_play.launch"/>
</launch>
