<launch>
  <node pkg="lsd_slam_viewer" type="viewer" name="viewer" cwd="node" output="screen"/>

  <!-- <node pkg="lsd_slam_core" type="live_slam" name="live_slam" cwd="node" output="screen">
    <remap from="image" to="image_raw"/>
    <remap from="camera_info" to="camera_info"/>
  </node> -->

  <node pkg="lsd_slam_core" type="live_slam" name="live_slam" cwd="node" output="screen">
    <remap from="image" to="/camera/image/grayscale"/>
    <param name="image_transport" value="compressed"/>
    <param name="calib" value="$(find resources)/config/calibration/lsdslam_pioneer_gray.cfg"/>
  </node>

  <!-- <include file="$(find resources)/launch/bags/bag_play.launch"/> -->

  <!-- need delay -->
  <!-- <include file="$(find resources)/launch/cam/cam_opencv.launch"/> -->

  <!-- <include file="$(find resources)/launch/visualization/vis_camera_images.launch"/> -->
</launch>
