<launch>
  <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="log">
    <remap from="/image" to="/ORB_SLAM/Frame"/>
    <param name="autosize" value="true"/>
  </node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find resources)/rviz/orbslam.rviz" output="log"/>

 	<node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="$(find ORB_SLAM)/Data/ORBvoc.txt $(find resources)/calibration/orbslam_pioneer.yaml" cwd="node" output="screen"/>

  <include file="$(find resources)/launch/bags/bag_play.launch"/>
</launch>
