<launch>
  <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="log">
    <remap from="/image" to="/ORB_SLAM/Frame"/>
    <param name="autosize" value="true"/>
  </node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find resources)/rviz/orbslam.rviz" output="log"/>

 	<node pkg="ORB_SLAM" type="ORB_SLAM" name="ORB_SLAM"  args="$(find ORB_SLAM)/Data/ORBvoc.txt $(find resources)/calibration/orbslam_pioneer.yaml" cwd="node" output="screen"/>

  <arg name="file1" default="sensor_data_2017-10-19-16-46-47.bag"/>
  <arg name="file2" default="sensor_data_2017-10-25-16-46-57.bag"/>
  <arg name="file3" default="sensor_data_2017-10-25-16-55-48.bag"/>
  <arg name="file4" default="sensor_data_2017-11-09-14-29-09.bag"/>
  <arg name="rate" default="1.0"/>
  <arg name="secs" default="20"/>
  <node name="play" pkg="rosbag" type="play" output="screen" args="-r $(arg rate) -d $(arg secs) $(find resources)/bags/$(arg file4)"/>
</launch>
