<?xml version="1.0"?>

<!-- roslaunch resources bag_play.launch file:="gc_pioneer_prod_2018-04-14-14-51-09" -->

<launch>
  <arg name="file1" value="sensor_data_2017-10-19-16-46-47"/>

  <arg name="file_lsdslam" value="lsdslam_example_machine"/>
  <arg name="file_orbslam" value="orbslam_example"/>
  <arg name="file_dpptam" value="dpptam_example_lab_unizar"/>

  <arg name="file"/>
  <arg name="rate" default="1.0"/>
  <arg name="secs" default="5"/>
  <node pkg="rosbag" type="play" name="play" output="screen" args="-r $(arg rate) -d $(arg secs) $(find resources)/bags/$(arg file).bag"/>
</launch>
